Source: wavegain
Section: sound
Priority: optional
Maintainer: mike gan <xmixahlx@yahoo.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: wavegain
Architecture: any
Depends: ${shlibs:Depends}
Description: provides replaygain functionality for wav audio files
 provides replaygain functionality for wav audio files
